<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>发布考试</title>
    <link rel="stylesheet" href="${ctxPath}/assets/libs/layui/css/layui.css"/>
</head>
<body>

<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-md-offset2">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>发布考试</legend>
            </fieldset>
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">考试名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="examName" required lay-verify="required" placeholder="请输入考试名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">考试说明</label>
                    <div class="layui-input-block">
                        <textarea name="examDesc" placeholder="请输入考试说明" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">题目列表</label>
                    <div class="layui-input-block" id="question-list">
                        <!-- Question list will be dynamically added here -->
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center">
                    <button type="button" class="layui-btn layui-btn-normal" id="add-question-btn">添加题目</button>
                </div>
                <div class="layui-form-item" style="text-align: center">
                    <button type="button" class="layui-btn layui-btn-normal" id="submit-btn">发布考试</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="${ctxPath}/assets/libs/layui/layui.js"></script>
<script src="${ctxPath}/assets/js/axios.js"></script>
<!--uuid，用于生成唯一考试id-->
<script src="${ctxPath}/assets/js/uuid.js"></script>

<script>
    layui.use(['form', 'jquery'], function() {
        var form = layui.form;
        var $ = layui.jquery;

        // 用于生成动态问题ID的计数器
        var questionCounter = 0;

        // 初始化问题列表
        var questionList = [];

        // 生成动态问题ID的函数
        function generateQuestionID() {
            return questionCounter++;
        }

        // 渲染问题列表的函数
        function renderQuestionList() {
            var html = '';
            for (var i = 0; i < questionList.length; i++) {
                var question = questionList[i];
                html += '<fieldset class="layui-elem-field">';
                html += '<legend>' + question.content + '</legend>';
                html += '<div class="layui-field-box">';
                html += '<div class="layui-form-item">';
                html += '<label class="layui-form-label">分数</label>';
                html += '<div class="layui-input-inline">';
                html += '<input type="number" name="score" value="' + question.score + '" required lay-verify="required" placeholder="请输入分数" autocomplete="off" class="layui-input">';
                html += '</div>';
                html += '</div>';
                html += '<div class="layui-form-item">';
                html += '<label class="layui-form-label">答案</label>';
                html += '<div class="layui-input-block">';
                html += '<textarea name="answer" placeholder="' + question.solution + '" class="layui-textarea"></textarea>';
                html += '</div>';
                html += '</div>';
                html += '<button type="button" data-id="' + question.id + '" class="layui-btn layui-btn-danger delete-question-btn" style="text-align: center">删除题目</button>';
                html += '</div>';
                html += '</fieldset>';
            }
            $('#question-list').html(html);
            form.render();
        }

        // 添加问题按钮点击事件
        $('#add-question-btn').click(function() {
            var id = generateQuestionID();
            var content = prompt('请输入题目内容');
            if (content === null) {
                return;
            }
            var score = prompt('请输入题目分数');
            if (score === null) {
                return;
            }
            score = parseInt(score);
            if (isNaN(score)) {
                alert('分数必须是数字');
                return;
            }
            var solution = prompt('请输入答案');
            if (solution === null) {
                return;
            }
            var question = {
                content: content,
                score: score,
                solution: solution
            };
            questionList.push(question);
            renderQuestionList();
        });

        // 删除问题按钮点击事件
        $(document).on('click', '.delete-question-btn', function() {
            var id = $(this).data('id');
            for (var i = 0; i < questionList.length; i++) {
                if (questionList[i].id === id) {
                    questionList.splice(i, 1);
                    break;
                }
            }
            renderQuestionList();
        });

        // 提交按钮点击事件
        $('#submit-btn').click(function() {
            let data = $("form").serializeArray();
            const id = uuid.v4();
            let json = {
                "examId": id,
                "examName": data[0]["value"],
                "examDesc": data[1]["value"],
                "question": questionList
            }
            console.log(json);
            axios.post("http://localhost:8081//exam/exam/save", json);
        });
    });
</script>

</body>
</html>
