<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>${course.name!}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="${ctxPath}/assets/libs/layui/css/layui.css"/>
  <link rel="stylesheet" href="${ctxPath}/assets/css/style.css"/>
  <link rel="stylesheet" href="${ctxPath}/assets/css/css.css"/>
  <link rel="stylesheet" href="${ctxPath}/assets/css/global.css"/>
</head>
<body>
    <!-- 顶部 -->
    <:include file="../common/header.html"/>
	<div class="course_body">
	    <div class="w1220 course_nav">
	        <span class="layui-breadcrumb">
	            <a href="/default/default">首页</a>
	            <a href="/defaul/releases">用户发布</a>
	          <a><cite>${release.name!}</cite></a>
	        </span>
	    </div>
	    <div class="w1220 course_intro">
	        <div class="course_img">
	            <img src="${release.image!}"/>
	        </div>
	        <div class="course_detail">
	            <h1>${release.name!}</h1>
	            <div class="some">
	                <p> 课程类别：<span>用户发布</span></p>
	                <p>课程类型：免费课程</p>
	            </div>
	            <a class="layui-btn layui-btn-lg">免费在线阅读</a>
	        </div>
	        <div id="share" class="share"></div>
	        <div class="course_img2">
	            <img src="${ctxPath}/assets/images/course_image.png" >
	        </div>
	    </div>
	
	    <div class="w1220 course_content">
	        <div class="content_left" id="content">
	            <div class="layui-tab layui-tab-brief" >
	                <ul class="layui-tab-title">
	                    <li class="layui-this"><h3>课程介绍</h3></li>
	                </ul>
	                <div class="layui-tab-content">
	                    <div class="layui-tab-item layui-show">${release.content}</div>
	                </div>
	            </div>
	        </div>
	        <div class="content_right">
	            <div class="teacher">
	                <div class="layui-tab" style="margin-bottom: 0px">
	                    <ul class="layui-tab-title">
	                        <li><h3>发布用户</h3></li>
	                    </ul>
	                    <div class="layui-tab-content" style="height: 100px;padding-bottom: 0px">
	                        <div class="layui-tab-item layui-show">
	                            <a><img src="${ctxPath}/assets/images/head.jpg" ></a>
	                            <a><span>${user.nickName}</span>
	                            <p>${user.introduction}</p></a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="recommend">
	                <div class="layui-tab" style="margin-bottom: 0px">
	                    <ul class="layui-tab-title">
	                        <li><h3>课程推荐</h3></li>
	                    </ul>
	                    <div class="layui-tab-content" style="padding-bottom: 0px;padding-right: 0px;">
	                        <div class="layui-tab-item layui-show">
	                            <ul class="rcourse">
	                                <:for items="${tuijian}" var="item">
			                            <li>
		                                    <img src="${ctxPath}/assets/images/hot.gif">
		                                    <span><a onclick="Detail(${item.id})">${item.name}</a></span>
		                                </li>
			                        </:for>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
	
    <!-- 底部 -->
	<:include file="../common/footer.html"/>
	<:include file="../common/js.html"/>
	<script>
	    layui.config({
		  version: new Date().getTime()
		  ,base: '${ctxPath}/assets/module/'
		}).extend({
			detail : 'detail'
		}).use('detail');
	    
	</script>
</body>
</html>