<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="${ctxPath}/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="${ctxPath}/assets/css/style.css"/>
    <link rel="stylesheet" href="${ctxPath}/assets/css/global.css"/>
</head>
<body>
<!-- 顶部 -->
<:include file="../common/header.html"/>

<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-table" lay-filter="test">
                <thead>
                <tr>
                    <th>考试名称</th>
                    <th>详细信息</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <:for items="${exam}" var="item">
                    <tr>
                        <td>${item.examName}</td>
                        <td>${item.examDesc}</td>
                        <td>
                            <button class="layui-btn layui-btn-normal layui-btn-sm"
                                    onclick="enterExam('{{item.examId}}')">进入考试
                            </button>
                        </td>
                    </tr>
                </:for>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    layui.use(['table', 'layer'], function () {
        var table = layui.table;
        var layer = layui.layer;

        // 定义进入考试的函数
        window.enterExam = function (examId) {
            // TODO: 跳转到对应的考试页面
            layer.msg('进入考试：' + examId);
        }
    });
</script>
</body>
</html>